/********
.icons ul{
    margin: 0px;
    padding: 0px;
    
}
.icons ul li{
    list-style-type: none;
    float: left;
    margin:10px;
}
.icons ul li a{
    background-image: url('Image-Optimization41.png');
    display: inline-block;
    width:84px;
    height: 84px;
    border: 1px solid black;
    border-radius: 50%;
    transition: 1s;
}
.icons ul li:nth-child(2) a{
   background-position: 840px 0px; 
}
.icons ul li:nth-child(3) a{
   background-position: 335px 0px; 
}
.icons ul li:hover:nth-child(1) a{
   background-position: 0px -84px; 
}
.icons ul li:hover:nth-child(2) a{
   background-position: 840px -84px; 
}
.icons ul li:hover:nth-child(3) a{
   background-position: 335px -84px; 
}


.box{
width: 200px;
    height: 200px;
    background: red;
    
}
@media  screen and (max-width: 600px){
 
      .box{background-color:green;
          margin: auto;
          border-radius: 10px;
      } 
  
}
/***********/


.personal-cv{
    width: 700px;
    height: 660px;
    background: #e0cdcd;
    margin: auto;
    display: flex;
    }

.left-section{
    height: 620px;
    width: 200px;
    background:#d2d2d2;
 
    padding: 10px;
    padding: 20px;
}

.left-section h2{
    font-size: 25px;
    font-weight: 600px;
    
}
.left-section span{
    color: #b74c00;
}
.left-section img{
    width: 100px;
   
    
}
.left-section h3{
    border-bottom: 1px solid black;
}
.left-section p{
    font-size: 12px;
}

.right-section{
    width:500px;
    height: 640px;
    padding: 20px;
    
}
.right-section h3{
border-bottom: 1px solid black;
    width:200px;
}
.right-section p{
    width: 350px;
    font-size: 14px;
}


















